@font-face {
	font-family: "yekan";
	src: url(../fonts/yekan_font/Yekan.eot);
	src: url(../fonts/yekan_font/Yekan.eot?#iefix) format("embedded-opentype"), url(../fonts/yekan_font/Yekan.woff) format("woff"), url(../fonts/yekan_font/Yekan.ttf) format("truetype"), url(../fonts/yekan_font/Yekan.svg#BYekan) format("svg");
	font-weight: normal;
	font-style: normal;
}
body, .bar-assertive > h1, .button {
    font-family: "yekan";
    font-size: 14px;
    word-spacing: 3px;
}
.bar-assertive > h1.title {
    text-align: center;
    padding: 0px;
}
.city-selection-container {
    direction: rtl;
}
.des, .ori {
    padding: 0px;
    border-top: 2px solid rgb(51, 51, 51);
}
.item {
    cursor: pointer;
}
.end .input-label, .begin .input-label {
    display: block;
    width: 100%;
    position: relative;
    max-width: none;
}
.ori .item, .des .item {
    padding: 15px;
    height: auto;
    min-height: auto;
    font-size: 16px;
    direction: rtl;
}
.ori .item-divider, .des .item-divider {
    padding: 10px;
    font-size: 16px;
    direction: rtl;
    background-color: #E0E0E0;
}
.city-search {
    background-color: rgb(51, 51, 51);  
}
.city-search input {
    font-family: "yekan";
    font-size: 14px; 
    direction: rtl;
    color: #fff;
}
span.state-title {
    margin: 5px 5px 5px 5px;
}
.begin .input-label, .end .input-label {
    direction: rtl;
}
.item-select::after {
    left: 16px;
    right: auto;
}
#ori-result, #des-result {
    padding: 7px;
    font-size: 16px;
    display: block;
    text-align: right;
    width: 96%;
    color: #333;
    display: none;
}
.city-selector-container {
    display: none;
}
#find-bus {
    margin: 0px 3%;
    width: 94%; 
}
.begin .item-select, .end .item-select {
    border-radius: 5px;
}
/*--------------------------results card design----------------------*/
#bus-result-container {
    position: relative;
    width: 100%;
    padding: 0px;
    list-style-type: none;
}
.bus-type-item {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    padding: 1%;
    height: auto;
    min-height: 40px;
}
.bus-type-label {
    display: flex;
    flex-flow: row nowrap;
    position: relative;
    color: #333;
    font-size: 15px;
    text-align: center;
    padding: 0px 5px;
    width: 100%;
    float: left;
    background-color: #F6C92B;
}
.results-card .item-divider.divider-header {
    display: block;
    background-color: #383838;
    min-height: 20px;
    padding: 10px 15px 10px 15px;   
}
#results-header-text {
    font-family: "yekan";
    font-size: 16px;
    display: block;
    text-align: right;
    color: #fff;
    padding: 0px 0px 0px 0px;  
    float: right;
}
#modal-return {
    float: left;
    font-size: 26px;
    color: #fff;
}
.results-card .results-divider {
    font-family: "yekan";
    font-size: 16px;
    display: none;
    text-align: center;
    color: #fff;
    background-color: #383838;
    min-height: 3px;
    padding: 0px 0px 0px 0px;
}
.bus-image {
    display: inline-block;
    margin: 10px 15px;
    width: 50%;
    max-width: 210px;
    position: relative;
    height: auto;
    min-height: 100px;
    float: right;
}
.item-text-wrap {
    direction: rtl;
    padding: 10px 5px;
    width: 52%;
    float: left;
}
.city-select-label {
    display: block;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    background-color: #F6C92B;
    margin: 10px 0px;
    border-radius: 5px;
}
/*------------------------bus results section divider ------------------------*/
.results-divider {
    direction: rtl;
}
.bus-type {
    display: inline-block;
    padding: 7px 0px 10px 5px;
    margin: 0px 0px 0px 10px;
    color: #333;
    float: right;
    word-spacing: 0px;
    font-size: 14px;
    direction: ltr;
    flex-grow: 1;
}
.bus-type-item {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    padding: 2%;
    height: auto;
    min-height: 40px;
}
.bus-type-label .ion-android-bus, .bus-type-label .ion-map, .bus-type-label .ion-clock {
    float: right;
    font-size: 26px;
    margin: 0px 5px 0px 10px;
    display: inline-block;
    flex-grow: 0;
}
.bus-price {
    float: left;
    margin: 10px 0px 10px 5px;
    display: inline-block;
    padding: 0px 0px 0px 0px;
    flex-grow: 11;
    text-align: left;
}
.bus-distance {
    float: left;
    margin: 10px 0px 10px 10px;
    display: inline-block;
    padding: 0px 0px 0px 0px;  
    font-size: 16px;
    direction: ltr;
    flex-grow: 11;
    text-align: left;
}
/*-----------------------Menu styles------------------------*/
[nav-bar-transition="ios"] [nav-bar="active"] .bar, [nav-bar-transition="ios"] [nav-bar="entering"] .bar {
    background: inherit;
}
#main-menu {
    direction: rtl;
}
.main-menu-icon {
    font-size: 28px;
    padding: 0px 5px;
    margin: 0px 5px; 
}
.item-complex > a.item-content {
    padding: 0px;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, i, u, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, fieldset, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    vertical-align: middle !important; 
}
.main-menu-item {
    padding: 15px 10px 15px 10px;
}
.main-menu-item-text {
    display: inline-block;
    position: relative;
    font-size: 16px;
    padding: 5px 0px;
}
/*------------------------Tablets-------------------------*/
/*---------------680px to 950px--------------------------*/
@media (min-width: 768px) {
    
}
/*------------------------Tablets-------------------------*/
/*---------------680px to 950px--------------------------*/
@media (min-width: 680px) and (max-width: 950px) {
    
.results-card .results-divider {
    display: block;
}
.item-text-wrap {
    width: 100%;
}
.bus-type-item {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    padding: 5px 0px;
    height: auto;
    min-height: 40px;
}
#bus-result-container {
    position: relative;
    width: 100%;
    padding: 2%;
    list-style-type: none;
} 
.bus-image {
    display: block;
    margin: 5px auto 10px auto;
    width: 100%;
    max-width: 100px;
    position: relative;
    height: auto;
    float: none;
}
    
}
/*------------------------Tablets-------------------------*/
/*---------------568px to 679px--------------------------*/
@media (min-width: 568px) and (max-width: 679px) {
    
.bus-type-item {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    padding: 2%;
    height: auto;
    min-height: 40px;
}
#bus-result-container {
    position: relative;
    width: 100%;
    padding: 2%;
    list-style-type: none;
} 
.results-card .results-divider {
    display: block;
}
    
}
/*------------------------Tablets-------------------------*/
/*---------------max-width: 567px--------------------------*/
@media (max-width: 567px) {

.bus-image {
    display: block;
    margin: 5px auto 10px auto;
    width: 100%;
    max-width: 100px;
    position: relative;
    height: auto;
    float: none;
}
.results-card .results-divider {
    display: block;
}
.item-text-wrap {
    width: 100%;
}
.bus-type-item {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    padding: 5px 0px;
    height: auto;
    min-height: 40px;
}
#bus-result-container {
    position: relative;
    width: 100%;
    padding: 2%;
    list-style-type: none;
}
    
}