<ion-view view-title="راهنما">
  <ion-content id="detail-page">
      <p class="help-page-title">{{ question.sub_title }}</p>
      <div class="help-page-content">
          <ul class="help-page-content-container">
              <li class="help-page-content-item">{{ question.item_one }}</li>
              <li class="help-page-content-item">{{ question.item_two }}</li>
              <li class="help-page-content-item">{{ question.item_three }}</li>
              <li class="help-page-content-item">{{ question.item_four }}</li>
              <li class="help-page-content-item">{{ question.item_five }}</li>
          </ul>
      </div>
  </ion-content>
</ion-view>
